@*@model ProductDetailViewModel*@
@model oShopSolution.ViewModels.Catalog.Comments.CommentRequest
@*@model oShopSolution.Data.Entities.ProductComment*@
@{
	ViewData["Title"] = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
<div class="product-details">
	<!--product-details-->
	<div class="col-sm-5">
		<div class="view-product">
			<img src="@(Configuration["BaseAddress"] + ViewBag.product.ThumbImg)" alt="@ViewBag.product.Name" />
		</div>
	</div>
	<div class="col-sm-7">
		<div class="product-information">
			<!--/product-information-->
			<img src="images/product-details/new.jpg" class="newarrival" alt="" />
			<h2>@ViewBag.product.Name</h2>
			<span>
				<span>@ViewBag.product.Price USD</span>
				<button type="button" class="btn btn-fefault cart">
					<i class="fa fa-shopping-cart"></i>
					Add to cart
				</button>
			</span>
			<p>@ViewBag.product.Description</p>
			<p>Create Date: @ViewBag.product.CreateDate</p>
			<p>Category: @ViewBag.product.Category</p>
			<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
		</div><!--/product-information-->
	</div>
</div>
<div>
	<h3>Rating and Review</h3>
	@*<div>
		@foreach(var comment in ViewBag.product.ProductComments)
			{
				<p>@comment.Rating</p>
				<p>@comment.TextComment</p>
			}
	</div>*@
	<form asp-action="SendReview" asp-controller="Product" method="post">
			<meta charset="UTF-8">
			<link rel="stylesheet" type="text/css" href="/css/Rating.css">
			<title>Star rating using pure CSS</title>
			<div class="rate">
				<input type="radio" id="star5" name="rating" value="5" />
				<label for="star5" title="text">5 stars</label>
				<input type="radio" id="star4" name="rating" value="4" />
				<label for="star4" title="text">4 stars</label>
				<input type="radio" id="star3" name="rating" value="3" />
				<label for="star3" title="text">3 stars</label>
				<input type="radio" id="star2" name="rating" value="2" />
				<label for="star2" title="text">2 stars</label>
				<input type="radio" id="star1" name="rating" value="1" />
				<label for="star1" title="text">1 star</label>
			</div>
		<div>@Html.TextAreaFor(model => model.TextComment, new { cols = 20, rows = 5})</div>
		<div>
			@*<p>&nbsp;</p>*@
			<input type="submit" value="Send" />
			@Html.HiddenFor(model => model.ProductId)
		</div>
	</form>
</div>


